html, body {
    width: 100%;
    height: 100%;
}

.navbar-nav li a:hover {
    color: #999999 !important;
}

.navbar-brand {
    background: url(/assets/img/kcllogo.png) no-repeat 0px 0px;
    background-size: contain;
    width: 320px;
    height: 75px;
    text-indent: 5em;
}

.header-content {
    margin-top: 10px;
}

.container {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.container#map {
    /* For map fitting the middle place */
    padding: 0px;
}

#leaflet {
    margin: 75px 0px 0px 0px;
    width: 100%;
}

#controller {
    width: 100%;
    height: 100px;
    bottom: 0px;
    background-color: #2f2f2f;
    color: #ffffff;
    padding: 10px;
    position: fixed;
}

